.header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: italic;
}
.name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-style: italic;
}
.carousel {
    width: 40%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.menu {
    display: flex;
    justify-content: center;
}